<div class="container">
    <main>
        <section class="hero">
            <h1>Welcome to Soccer Manager.</h1>
            <img src="/images/th.jpeg" alt="Your Image">
            <p>Create your dream team!!</p>
        </section>
    </main>
</div>