<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs")%> <% var title = "Home";%>
  <body>
    <%- include("./partials/nav.ejs") %>
    <section class="content">
        <h1 class="heading">FC MOBILE GUIDES</h1>
        <div class="card-wrap">
            <div class="card" id="c">
                <div class="img"></div>
                <h1>Lorem ipsum dolor sit amet.</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates corporis, accusamus distinctio porro beatae at corrupti aliquam natus quidem eaque culpa eligendi, harum quisquam quod. Fugiat asperiores molestiae nesciunt nobis.</p>
            </div>
            <div class="card" id="c">
                <div class="img"></div>
                <h1>Lorem ipsum dolor sit amet.</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates corporis, accusamus distinctio porro beatae at corrupti aliquam natus quidem eaque culpa eligendi, harum quisquam quod. Fugiat asperiores molestiae nesciunt nobis.</p>
            </div>
            <div class="card" id="c">
                <div class="img"></div>
                <h1>Lorem ipsum dolor sit amet.</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates corporis, accusamus distinctio porro beatae at corrupti aliquam natus quidem eaque culpa eligendi, harum quisquam quod. Fugiat asperiores molestiae nesciunt nobis.</p>
            </div>
            <div class="card" id="c">
                <div class="img"></div>
                <h1>Lorem ipsum dolor sit amet.</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates corporis, accusamus distinctio porro beatae at corrupti aliquam natus quidem eaque culpa eligendi, harum quisquam quod. Fugiat asperiores molestiae nesciunt nobis.</p>
            </div>
            <div class="card" id="c">
                <div class="img"></div>
                <h1>Lorem ipsum dolor sit amet.</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates corporis, accusamus distinctio porro beatae at corrupti aliquam natus quidem eaque culpa eligendi, harum quisquam quod. Fugiat asperiores molestiae nesciunt nobis.</p>
            </div>
            <div class="card" id="c">
                <div class="img"></div>
                <h1>Lorem ipsum dolor sit amet.</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates corporis, accusamus distinctio porro beatae at corrupti aliquam natus quidem eaque culpa eligendi, harum quisquam quod. Fugiat asperiores molestiae nesciunt nobis.</p>
            </div>
            <div class="card" id="c">
                <div class="img"></div>
                <h1>Lorem ipsum dolor sit amet.</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates corporis, accusamus distinctio porro beatae at corrupti aliquam natus quidem eaque culpa eligendi, harum quisquam quod. Fugiat asperiores molestiae nesciunt nobis.</p>
            </div>
            <div class="card" id="c">
                <div class="img"></div>
                <h1>Lorem ipsum dolor sit amet.</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates corporis, accusamus distinctio porro beatae at corrupti aliquam natus quidem eaque culpa eligendi, harum quisquam quod. Fugiat asperiores molestiae nesciunt nobis.</p>
            </div>
            <div class="card" id="c">
                <div class="img"></div>
                <h1>Lorem ipsum dolor sit amet.</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates corporis, accusamus distinctio porro beatae at corrupti aliquam natus quidem eaque culpa eligendi, harum quisquam quod. Fugiat asperiores molestiae nesciunt nobis.</p>
            </div>
            <div class="card" id="c">
                <div class="img"></div>
                <h1>Lorem ipsum dolor sit amet.</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates corporis, accusamus distinctio porro beatae at corrupti aliquam natus quidem eaque culpa eligendi, harum quisquam quod. Fugiat asperiores molestiae nesciunt nobis.</p>
            </div>
            <div class="card" id="c">
                <div class="img"></div>
                <h1>Lorem ipsum dolor sit amet.</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates corporis, accusamus distinctio porro beatae at corrupti aliquam natus quidem eaque culpa eligendi, harum quisquam quod. Fugiat asperiores molestiae nesciunt nobis.</p>
            </div>
        </div>
    </section>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
