<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <script src="/script.js"></script> 
    {{#if title}}
    <title>Blog Site | {{title}}</title>
    {{else}}
    <title>Blog Site</title>
    {{/if}}
</head>
<body>
    <div class="container">
        {{> nav}}
        <section id="goat">
            {{{body}}} 
        </section>
    </div>
    {{> footer}} 
</body>
</html>
