<section class="content"></section>
    <h1 class="heading">FC MOBILE NEWS</h1>
    <div class="card-wrap">
        <div class="card" id="c">
            <div class="img"></div>
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates corporis, accusamus distinctio porro beatae at corrupti aliquam natus quidem eaque culpa eligendi, harum quisquam quod. Fugiat asperiores molestiae nesciunt nobis.</p>
        </div>
        <div class="card" id="c">
            <div class="img"></div>
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates corporis, accusamus distinctio porro beatae at corrupti aliquam natus quidem eaque culpa eligendi, harum quisquam quod. Fugiat asperiores molestiae nesciunt nobis.</p>
        </div>
        <div class="card" id="c">
            <div class="img"></div>
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates corporis, accusamus distinctio porro beatae at corrupti aliquam natus quidem eaque culpa eligendi, harum quisquam quod. Fugiat asperiores molestiae nesciunt nobis.</p>
        </div>
        <div class="card" id="c">
            <div class="img"></div>
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates corporis, accusamus distinctio porro beatae at corrupti aliquam natus quidem eaque culpa eligendi, harum quisquam quod. Fugiat asperiores molestiae nesciunt nobis.</p>
        </div>
        <div class="card" id="c">
            <div class="img"></div>
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates corporis, accusamus distinctio porro beatae at corrupti aliquam natus quidem eaque culpa eligendi, harum quisquam quod. Fugiat asperiores molestiae nesciunt nobis.</p>
        </div>
        <div class="card" id="c">
            <div class="img"></div>
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates corporis, accusamus distinctio porro beatae at corrupti aliquam natus quidem eaque culpa eligendi, harum quisquam quod. Fugiat asperiores molestiae nesciunt nobis.</p>
        </div>
        <div class="card" id="c">
            <div class="img"></div>
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates corporis, accusamus distinctio porro beatae at corrupti aliquam natus quidem eaque culpa eligendi, harum quisquam quod. Fugiat asperiores molestiae nesciunt nobis.</p>
        </div>
        <div class="card" id="c">
            <div class="img"></div>
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates corporis, accusamus distinctio porro beatae at corrupti aliquam natus quidem eaque culpa eligendi, harum quisquam quod. Fugiat asperiores molestiae nesciunt nobis.</p>
        </div>
        <div class="card" id="c">
            <div class="img"></div>
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates corporis, accusamus distinctio porro beatae at corrupti aliquam natus quidem eaque culpa eligendi, harum quisquam quod. Fugiat asperiores molestiae nesciunt nobis.</p>
        </div>
        <div class="card" id="c">
            <div class="img"></div>
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates corporis, accusamus distinctio porro beatae at corrupti aliquam natus quidem eaque culpa eligendi, harum quisquam quod. Fugiat asperiores molestiae nesciunt nobis.</p>
        </div>
        <div class="card" id="c">
            <div class="img"></div>
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates corporis, accusamus distinctio porro beatae at corrupti aliquam natus quidem eaque culpa eligendi, harum quisquam quod. Fugiat asperiores molestiae nesciunt nobis.</p>
        </div>
    </div>
</section>