<header class="sticky-header">
    <img src="/images/kuchjustin.jpg" alt="Your Logo">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/characters">Characters</a></li>
            <li><a href="/map">Map</a></li>
        </ul>
    </nav>
</header>